*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  
}

body{
    overflow: hidden;
}

.play-scene-container{
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    height:100vh;
    animation-duration: .6s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
 
}


.round-result-container{
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.round-result-text{
    text-align: center;
    font-size: 4rem;
    font-family: 'Jost', sans-serif;
   
}


.play-field{
    display: flex;
    justify-content: space-around;
   
}

.outcome-lose{
    color: #ff6565;
}

.outcome-win{
    font-weight: 500;
    color: #FFB1B1;
}


img{
    width: 100%;
   
}
.img-container{
    width: 15%
}

#rock1{
    transform: rotate(90deg);
    animation-name: rock1Anim;
}

#rock2{
    transform: scaleX(-1) rotate(90deg);
    animation-name: rock2Anim;
}



#rock2,#rock1{
    animation-duration: 0.2s;
    animation-iteration-count: 6;
    animation-direction: alternate;
  
}

@keyframes rock1Anim {
    from { transform: rotate(90deg);}
    to { transform: rotate(32deg);}
  }

  @keyframes rock2Anim {
    from { transform: scaleX(-1) rotate(90deg);}
    to { transform: scaleX(-1) rotate(32deg);}
  }






  .hide{
    display: none;
    }

    .disappear{
        opacity: 0;
    }
    

    .appear{
        opacity: 100;
    }

    .scoreboard{
        display: flex;
        justify-content: space-around;
        align-items: center;
       
    }

    

   

    .computer-score-icon , .player-score-icon{

        font-size: 2.5rem;
    }

    .score{
        font-size: 3.4rem;
        font-family: 'Jost', sans-serif;
        font-weight: bold;
        display: flex;
        gap: .2em;
  
    }

    .add-one{
        font-size: 2rem;
        color: #FFB1B1;
        font-weight: bold;
        transform: scale(0);
        animation-duration: .8s;
        animation-fill-mode: forwards;
       
    }

    .fade-out{
        animation-name: fadeOutRemove;
    }

    @keyframes scaleUp {
        from { transform: scale(0)}
        to { transform: scaleX(1)}
      }


      @keyframes fadeOut {
        0%   {opacity: 1;}
     
        100% {opacity: 0;}
      }

      @keyframes fadeIn {
        from { opacity: 0}
        to {  opacity: 1}
      }







    /* Selection screen styles */


    .selection-scene-container{
        display: none;
        flex-direction: column;
        justify-content: space-evenly;
        height:100vh;
        animation-duration: .6s;
        animation-timing-function: ease-out;
        animation-fill-mode: forwards;
    }

    .selection-title-container{
        flex-grow: 1;
    }

    .selection-title{
        font-size: 5rem;
        font-family: 'Jost', sans-serif;
        font-weight: 500;
        margin-left: 1em;
        
 
    }

    .selection-scoreboard{
        display: flex;
        justify-content: end;
        gap: 4em;
        align-items: center;
        flex-grow: 1;
        width: 95%;
        
    }

    .player-container, .computer-container{
        display: flex;
         gap: 1em;
         align-items: center;
    }

    .selection-player-container, .selection-computer-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
       
       
    }

    .choice-container {
        display: flex;
        justify-content: space-evenly;
        text-align: center;
        flex-grow: 2;
        
    }

    .choice{
        width: 20%;
        transition: all .1s;
        
       
    }

    .choice-image{
        background-color: #FFB1B1;
        border-radius: 1em;
        padding: 2em 0;
    }

    .choice:hover{
        transform: scale(1.1);
        cursor: pointer;
    }

    .choice-image img{
        width: 70%;
    }
    .choice-text{
        margin-top: 1em;
        font-size: 2rem;
        font-family: 'Jost', sans-serif;
    }

    

    
    /*Winner scene styles */

    .winner-scene-container{
        display: none;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height:100vh;
        animation-duration: 1s;
        animation-fill-mode: forwards;
     
    }


    .winner-scoreboard{
        display: flex;
        justify-content: center;
        gap: 10em;
        align-items: center;
        width: 95%;
        
    }

    .winner-player-container, .winner-computer-container
    {

        width: 15%;
        display: flex;
        justify-content: space-around;
        align-items: center;

    }

    .winner-result-text{
        text-align: center;
        font-size: 4rem;
        font-family: 'Jost', sans-serif;
    }

    #playAgain{
        border: none;
        padding: .5em 2em;
        font-size: 2rem;
        border-radius: .5em;
        background-color: #FFB1B1;
        font-family: 'Jost', sans-serif;
        cursor: pointer;
        transition: all .2s;
    }
    

    #playAgain:hover{
        transform: scale(1.1);
    }






    /* Start scene */

    .start-scene-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height:100vh;
        animation-duration: .6s;
        animation-fill-mode: forwards;
        align-items: center;
        gap: 6em;
    
    }


    .game-title-container{
        width: 45%;
   
    }

    .game-title{
        font-size: 5rem;
        font-family: 'Jost', sans-serif;
        font-weight: bold;
     
    }

    #startGame{
        border: none;
        padding: .5em 2em;
        font-size: 2.5rem;
        border-radius: .5em;
        background-color: #FFB1B1;
        font-family: 'Jost', sans-serif;
        cursor: pointer;
        transition: all .2s;
    }


    #startGame:hover{
        transform: scale(1.1);
    }


    /* INfo scene */

    .info-scene-container{
        display: none;
        flex-direction: column;
        justify-content: center;
        height:100vh;
        animation-duration: 1s;
        animation-fill-mode: forwards;
        align-items: center;

    
    }


    .info-title{
        font-size: 3rem;
        font-family: 'Jost', sans-serif;

     
    }