*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height:100vh;
}


.round-result-container{
    transition: opacity 1s;
}

.round-result-text{
    text-align: center;
    font-size: 4rem;
    font-family: 'Jost', sans-serif;
   
}


.play-field{
    display: flex;
    justify-content: space-around;
   
}

.outcome{
    color: #FFB1B1;
}


img{
    width: 100%;
   
}
.img-container{
    width: 15%
}

#rock1{
    transform: rotate(90deg);
    animation-name: rock1Anim;
}

#rock2{
    transform: scaleX(-1) rotate(90deg);
    animation-name: rock2Anim;
}



#rock2,#rock1{
    animation-duration: 0.2s;
    animation-iteration-count: 6;
    animation-direction: alternate;
  
}

@keyframes rock1Anim {
    from { transform: rotate(90deg);}
    to { transform: rotate(32deg);}
  }

  @keyframes rock2Anim {
    from { transform: scaleX(-1) rotate(90deg);}
    to { transform: scaleX(-1) rotate(32deg);}
  }


  .hide{
    display: none;
    }

    .disappear{
        opacity: 0;
    }
    

    .appear{
        opacity: 100;
    }

    .scoreboard{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .player-container{
        display: flex;
         gap: 1em;
         align-items: center;
    }

    .computer-container{
        display: flex;
        gap: 1em;
        align-items: center;
    }

    .computer-score-icon , .player-score-icon{

        font-size: 2.5rem;
    }

    .score{
        font-size: 3.4rem;
        font-family: 'Jost', sans-serif;
        font-weight: bold;
        display: flex;
        gap: .2em;
        transition: opacity 1s;
    }

    .add-one{
        font-size: 2rem;
        color: #FFB1B1;
        font-weight: bold;
        transition: all 1s;
       
    }

    .scale-down{
        transform: scale(0);
    }

    .scale-up{
        transform: scale(1);
    }

    